<h1>Lists 
  <a class="new-list" title="Create a list" role="button" href=""><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
</h1>
  
<ul class="all-lists">
  {{#each lists}}
  <li data-id={{id}}><a href="" class="view-list" data-id={{id}}>{{title}}</a> <a href="" class="clone-list">Clone</a> <a href="" class="delete-list" data-id={{id}}>Delete</a></li>
  {{/each}}
</ul>
