<div class="pwd-form">
  <h1> Change password</h1>
  <form id="change-password" class="change-password">
    <div>
      <label for="passwords[old]">Current password</label>
      <input name="passwords[old]" id="passwords[old]" type="password" placeholder="Current password">
    </div>
    <div>
      <label for="passwords[new]">New password</label>
      <input name="passwords[new]" id="passwords[new]" type="password" placeholder="New password">
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>