<div class="home">
  <div class="welcome">
    <div class="welcome-overlay">
      <header>
        <h1><i class="fa fa-suitcase" aria-hidden="true"></i> go bag</h1>
        <p>packing lists for frequent travelers</p>
      </header>
      <p>
        <a href="#" role="button" class="btn-home auth">sign up</a>
        <a href="#about" role="button" class="btn-home">learn more</a>
      </p>
      <p>Have an account? <a href="#">Log in.</a></p>
    </div>
  </div>

  <div id="about" class="welcome-cont">
    <div class="branding">
      <h1><i class="fa fa-suitcase" aria-hidden="true"></i></h1>
      <p>No more sticky notes.</p>
      <p>No more scraps of paper.</p>
      <p>No more showing up at the conference without your laptop charger (or to your honeymoon without your favorite swimsuit).</p>
    </div>

    <div class="auth-buttons">
      <div class="auth-buttons-overlay">
        <a href="#" role="button" class="btn-home auth">sign up</a>
        <a href="#" role="button" class="btn-home">log in</a>
      </div>
    </div>
  </div>
</div>