<h1>
  <span class="list-title list-title-edit">{{title}}</span>
  <small>
    <a href="" class="edit-list" title="Edit title">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a href="" class="delete-list" title="Delete list">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
    <a href="" class="close-list">
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </a>
  </small>
</h1>