<h1>
  <span class="list-title">
    <input type="text" name="list[title]" value="{{title}}" class="title-field">
  </span>
  <a href="" class="update-list"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
  <a href="" class="cancel-edit-list">
    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
  </a>
</h1>