<form id="log-in">
  <div>
    <label for="credentials[email]">Email</label>
    <input name="credentials[email]" id="credentials[email]" type="email" placeholder="Email" required>
  </div>
  <div>
    <label for="credentials[password]">Password</label>
    <input name="credentials[password]" id="credentials[password]" type="password" placeholder="Password" required>
  </div>
  <button type="submit">Log In</button>
</form>

<a class="sign-up" role="button" href="#">Sign Up</a>