<nav>
  <span class="logo">
    <a href="" class="home-link">
      <i class="fa fa-suitcase" aria-hidden="true"></i> go bag
    </a>
  </span>
  {{#if id}}
    <div class="user-nav">
      <a class="log-out" href="">Log Out</a>
      <a class="change-password-link" href="">Account</a>
    </div>
  {{/if}}
</nav>