<form class="new-list-form">
  <label for="list[title]">Title</label>
  <input name="list[title]" id="list[title]" type="text" placeholder="Where are you going?" required>
  <button type="submit"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
  <a class="cancel-new-list" href="">Cancel</a>
</form>