<div class="pwd-form">
  <form id="change-password" class="change-password">
    {{email}}
    <div>
      <label for="passwords[old]">Current password</label>
      <input name="passwords[old]" id="passwords[old]" type="password" placeholder="Current password">
    </div>
    <div>
      <label for="passwords[new]">New password</label>
      <input name="passwords[new]" id="passwords[new]" type="password" placeholder="New password">
    </div>
    <button type="submit" class="btn-standard">Change Password</button>
  </form>
</div>