<div class="user-profile">
  {{> nav}}

  <div class="greeting">
    <div class="overlay">
      {{greeting}}
    </div>
  </div>

  <div class="message">
  </div>

  <div class="profile-contents">
      {{> allLists}}
  </div>

</div>