.auth-bg {
  background: url('../img/backpack-camera.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;

  .wrapper {
    max-width: 225px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
  }

  input {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 0;
    box-shadow: none;
    font-size: 1em;
    height: 2em;
    margin: .5em 0;
    width: 100%;
    padding: .25em;
  }

  label {
    display: none;
  }
}
