.auth-bg {
  background: url('../img/backpack-camera.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;

  .wrapper {
    color: $white;
    margin: 0 auto;
    max-width: 225px;
    padding: 1em;
    text-align: center;
  }

  label {
    display: none;
  }

}
