.welcome {
  background: url('../img/airport.jpg') no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100vh;

  h1 {
    margin-top: 0;
  }
}

.welcome-overlay {
  background: $transparentgray;
  min-height: 100vh;
  padding: 30vh 15px 15px;
}

.about {
  min-height: 100vh;
}
