.welcome {
  background: url('../img/airport.jpg') no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100vh;
}

.welcome-overlay {
  background: $transparentgray;
  min-height: 100vh;
  padding: 30vh 1em 1em;
}

.welcome-cont {
  min-height: 100vh;
  text-align: center;
}

.branding {
  min-height: 50vh;
  padding: 1em;
}

.auth-buttons {
  background: url('../img/train.jpg') no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.auth-buttons-overlay {
  background: $transparentgray;
  min-height: 50vh;
  padding: 15vh 1em 1em;
}
