nav {
  background: $black;
  color: $white;
  overflow: auto;
  padding: .25em 1em;
  width: 100%;

  i {
    margin-right: .25em;
  }

  .logo {
    a,
    a:hover,
    a:active,
    a:visited {
      text-decoration: none;
    }
  }

  .user-nav {
    float: right;

    a {
      display: block;
      float: right;
      padding: .5em 0 .5em .25em;
    }
  }


}
