.user-profile {
  color: $black;
}

.pwd-form {
  clear: right;
  display: none;
}

.change-password {
  float: right;
  max-width: 300px;

  button {
    width: 100%;
  }

  label {
    display: none;
  }
}
